body {
    margin: 0;
    width: 100%;
    background: url(images/fond.jpg);
}

/*Mise en place du menu*/

.logoCyc {
    width: 8%;
}

.navbar {
    background-image: linear-gradient(to right, #f1e719, #7b0406);
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-brand {
    margin-left: 50px;
}

.collapse {
    font-size: 25px;
}

/*Mise en place image*/
.card{
    width: 100%;
}
 .bienvenue {
    width: 50%;
    position: absolute;
    color: white;
    top: 260px;
    text-align: center;
    font-size: 50px;
    animation: fadein 4s;
}

#textH1 .color {
    color: black;

}
.creer {
    width: 26%;
    position: absolute;
    color: white;
    top: 340px;
    left: 23%;
    text-align: center;
    animation: fadein 4s;
}

#textH2 .color {
    color: black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Mise en place titre menu*/

.section-titre {
    color: white;
}

.section-titre i {
    color:white;
}

/*Mise en place competences */

#competences {
    margin-top: 50px;
    padding: 80px 100px 100px;
    background-image: linear-gradient(to right, #7b0406, #f1e719);
}

#competences:target {
    padding-top: 200px;
}

#competencesTechnique {
    padding: 100px;
    background-color: #36393f;
    color: white;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.logo {
    width: 8%;
}

.red-bg {
    background-color: #ef5350 !important;
}

.red-color {
    color: white;
}

.yellow-bg {
    background-color: #fbc02d !important;
}

.yellow-color {
    color: white;
}

.green-bg {
    background-color: #26a69a !important;
}

.green-color {
    color: white;
}

.darkblue-bg {
    background-color: #3f51b5 !important;
}

.darkblue-color {
    color: white;
}

.progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.animateProgressbar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

@keyframes animateProgressbar {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}

/*Mise en place diplomes*/
#diplomes {
    margin-top: 50px;
    padding: 80px 100px 100px;
    background-image: linear-gradient(to right, #7b0406, #f1e719);
}

#diplomes:target {
    padding-top: 200px;
}

#accordionSolution {
    padding: 100px;
    background-color: #36393f;
    color: white;
}

.collapsible-header p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 40px;
}

.accordion-body {
    margin-top: -25px;
}

/*Mise en place portfolio*/
#portfolio {
    margin-top: 50px;
    padding: 80px 100px 100px;
    background-image: linear-gradient(to right, #7b0406, #f1e719);
}

#portfolio:target {
    padding-top: 200px;
}

figcaption {
    text-align: center;
}

.portfolio-content {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-content .entry-content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .8);
    visibility: hidden;
    opacity: 0;
    transition: all .35s;
}

.portfolio-content:hover .entry-content {
    visibility: visible;
    opacity: 1;
}

/*Mise en place experiences*/
#experience {
    margin-top: 50px;
    padding: 80px 100px 100px;
    background-image: linear-gradient(to right, #7b0406, #f1e719);
}

#experience:target {
    padding-top: 200px;
}

.experience {
    position: relative;
    padding: 60px;
    background: #36393f;
}

.experience .experience-item:after,
.experience .experience-item:before {
    content: '';
    position: absolute;
}

#experience .experience-item {
    position: relative;
    margin-bottom: 80px;
}

h2.titreExperience {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.experience-item {
    margin-left: 50px;
}

.experience .experience-item .post-mate li span.current {
    color: #fff;
    padding: 5px 10px;
}

p,
ul.ul-li,
ul.ul-li li,
ul.ul-li li a {
    margin: 0;
    padding: 0;
    color: #dcddde;
}

.experience .experience-item a {
    margin-top: 25px;
    font-style: italic;
}

.experience-item ul.skills-tab li.tag-icon {
    width: 30px;
    height: 53px;
    color: #fff;
    text-align: left;
    line-height: 53px;
}

.experience-item ul.skills-tab li.tag-item {
    float: left;
    width: auto;
    height: 53px;
    line-height: 53px;
    text-align: center;
}

/*mise en place loisirs*/
#loisirs {
    margin-top: 50px;
    padding: 80px 100px 100px;
    background-image: linear-gradient(to right, #7b0406, #f1e719);
}

#loisirs:target {
    padding-top: 200px;
}

.portfolio-content {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-content .entry-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .8);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all .35s;
}

.fa,
.fas {
    color: white;
}

/*mise en place contact*/
#contact {
    margin-top: 150px;
    padding: 80px 100px 100px;
    background-color: #202225;
}

.card-body {
    padding: 30px;
    background-color: #2196f3;
}

.contact-form {
    width: 100%;
}

.contact-section .contact-right .input-field textarea {
    min-height: 126px;
}

/*mise en place footer*/
footer {
    text-align: center;
    margin-top: 50px;
    padding: 40px 50px 50px;
    background-image: linear-gradient(to right, #f1e719, #7b0406);
}


@media (min-device-width: 180px) and (max-device-width:480px),
(min-width: 180px) and (max-width:480px) {
    .logoCyc {
        width: 20%;
    }
    .img-fluid {
      max-width: 148%;
  }


}

@media (orientation: landscape) and (min-device-width : 481px) and (max-device-width : 767px),
(min-width: 481px) and (max-width:767px) {
    
}

@media (min-device-width : 768px) and (max-device-width : 1023px),
(min-width: 768px) and (max-width:1023px) {
    
}

@media (orientation: landscape) and (min-device-width : 1024px) and (max-device-width : 1366px),
(min-width: 1024px) and (max-width:1366px) {
    
}
